extends _layout

block vars
  - var pageTitle = 'Home'
  - var pageDescription = 'Roman Licursi is a revenue operations analyst and systems builder.'
  - var bodyClass = 'home'

block header

  h1
    span.name-first Roman
    br
    span.name-last Licursi
  h2 Revenue Systems Engineer

block content

  .container
    include includes/main-nav
