extends _layout

block vars
  - var pageTitle = 'Work'
  - var pageDescription = 'Projects and work by Roman Licursi.'
  - var pagePath = 'work'
  - var bodyClass = 'work'

block header

  p.chapter II
  h1#content Work

block content

  .container
    .content
      p Projects and tools coming soon.
