/*--------------------------------------------------------------------
* $HOME
--------------------------------------------------------------------*/

body.home
  align-items: start
  padding-top: 1vh
